doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1(style="text-align:center") New Coffee form 
        .form-wrapper 
            form(method = "POST")
                label(for="coffeeName") Name 
                input(type="text" name="coffeeName" required)
                label(for="producer") Producer 
                input(type="text" name="producer" required)
                label(for="strength") Strength 
                input(type="number" name="strength" required)
                label(for="flavor") Flavor 
                input(type="text" name="flavor" required)
                input(type="submit" value="Submit")
                a(href="/") Return to the homepage

        
